/* styles for screens smaller than 600px */
@media (max-width: 600px) {
  .content {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  ul li {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}

.content {
  display: block;
  width: 1000px;
  margin: 0px auto 0;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('bordered.jpeg');
}

* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  padding: 1rem 0.5rem 1rem 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  font-family: 'Roboto';

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: rgb(253, 252, 252);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  padding: 30px 40px;
  text-align: center;
  background-color: rgb(245, 211, 161);
  border-radius: 10px;
  border-color: black;
  border: solid;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

main {
  border: solid;
  border-color: black;
  min-height: 500px;
  background-color: rgb(247, 244, 240);
  border-radius: 5px;

}

/* Style the input */
input {
  margin: 5px;
  border: none;
  border-radius: 0;
  width: 70%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.dark-mode {
  background-color: black;
  background-image: url('dark.jpeg');

}

.dark-mode .header {
  background-color: #000000;
  color: #eee;
}

.dark-mode .addBttn {
  background-color: #fdfcfc;
  color: #050505;
}

.dark-mode ul {
  background-color: #bbb;
}


/* Style the "Dark Theme" button */
.darkBttn {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  width: 10%;
  text-align: center;
  transition: 0.3s;
  border-radius: 30px;
  font-family: 'Xanh Mono', monospace;
  float: left;
  font-size: 15px;
}

.darkBttn:hover {
  background: #fcfafa;
  color: #050505;
}

/* Style the "Add" button */
.addBttn {
  margin: 5px;
  padding: 5px;
  width: 13%;
  background: #888;
  color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 30px;
  font-family: 'Xanh Mono', monospace;
  font-size: 22px;
}

.addBttn:hover {
  background-color: #bbb;
}

/* Style the "Clear" button */
.clearBttn {
  margin: 5px;
  padding: 5px;
  width: 13%;
  background: rgb(223, 42, 42);
  color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 30px;
  font-family: 'Xanh Mono', monospace;
  font-size: 22px;
}

.clearBttn:hover {
  background-color: #eee;
  color: #f44336;
}

.Input {
  font-family: 'Xanh Mono', monospace;
}